@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');
html{
    font-family: var(--font-barlow-condensed), sans-serif;
}
body{
    margin: 0;
}
.bellefair-regular {
    font-family: var(--font-bellefair), serif;
    font-weight: 400;
    font-style: normal;
}

:root {
  --blue-900: #0B0D17;
  --blue-300: #D0D6F9;
  --white: #FFFFFF;
  --sp-1600: 128px; /* spacing */
  --sp-1200: 96px;
  --sp-1000: 80px;
  --sp-800: 64px;
  --sp-600: 48px;
  --sp-500: 40px;
  --sp-400: 32px;
  --sp-300: 24px;
  --sp-200: 16px;
  --sp-100: 8px;
  --sp-50: 4px;
  --sp-25: 2px;
  --font-bellefair: 'Bellefair', serif;
  --font-barlow-condensed: 'Barlow Condensed', sans-serif;
  --font-barlow: 'Barlow', sans-serif;
}
.home-screen{
    background-image: url(../public/assets/home/background-home-desktop.jpg);
}
.destination-screen{
    background-image: url(../public/assets/destination/background-destination-desktop.jpg);
}
.crew-screen{
    background-image: url(../public/assets/crew/background-crew-desktop.jpg);
}
.technology-screen{
    background-image: url(../public/assets/technology/background-technology-desktop.jpg);
}
.body{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}
.bg{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--sp-400);
    position: relative;
    z-index: 10;
}
.logo-container{
    width: 51%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1000;
}
.logo{
    margin: 0 var(--sp-600);
}
.line{
    width: 100%;
    z-index: 1000;
    height: 1px;
    background-color: white
}

.nav{
    width: 51%;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40);
    padding: 0 var(--sp-800);
    position: relative;
    margin-left: auto;

}
.nav-list{
    display: flex;
    gap: 32px;
}
.nav-list li {
    font-family: var(--font-barlow-condensed);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 200;
    font-size: 1rem;
    list-style: none;
    color: white;
    cursor: pointer;
    padding: var(--sp-400) 0 29px 0;
    border-bottom: 3px solid transparent; 
    transition: border-color 0.5s ease;
}

.nav-list li:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.nav-list li.active {
    border-bottom: 3px solid var(--white);
    /* You can remove the hover effect for active elements */
}

.nav-list li.active:hover {
    border-bottom: 3px solid var(--white); /* Maintain the active border on hover */
}
.page-content-container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.page-content-center{
    width: 100%;
    max-width: 1120px;
    height: 100%;
    box-sizing: border-box;
}
.slogan{
    width: 50%;
}

.text-preset-1{
    font-family: var(--font-bellefair);
    font-weight: 400;
    font-size: 9rem;
    color: white;
    margin-bottom: var(--sp-400);
}
.text-preset-2{
    font-family: var(--font-bellefair);
    font-weight: 400;
    font-size: 100px;
    color: white;
    margin-bottom: var(--sp-400);
}
.text-preset-3{
    font-family: var(--font-bellefair);
    font-weight: 400;
    font-size: 56px;
    color: white;
    margin-bottom: var(--sp-400);
}
.text-preset-4{
    font-family: var(--font-bellefair);
    font-weight: 400;
    font-size: 32px;
    color: white;
}
.text-preset-5{
    font-family: var(--font-barlow-condensed);
    font-weight: 200;
    font-size: 1.75rem;
    color: var(--blue-300);
    letter-spacing: 4px;
}
.text-preset-6{
    font-family: var(--font-bellefair);
    font-size: 1.75rem;
    color: var(--white);
}
.text-preset-7{
    font-family: var(--font-barlow-condensed);
    font-weight: 400;
    font-size: 14px;
    color: var(--blue-300);
    letter-spacing: 2px;
}
.text-preset-8{
    font-family: var(--font-barlow-condensed);
    font-weight: 300;
    font-size: 1rem;
    color: var(--white);
    letter-spacing: 2px;
}
.text-preset-9{
    font-family: var(--font-barlow);
    font-size: 18px;
    line-height: 180%;
    color: var(--blue-300);
}
.white{
    color: var(--white);
}
.description{
    font-family: var(--font-barlow);
    font-weight: 200;
    font-size: 1rem;
    color: var(--blue-300);
}
.explore-container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.explore{
    width: 272px;
    height: 272px;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.explore:hover::after{
    content: "";
    position: absolute;
    width: 272px;
    border: 184px var(--white) solid;
    aspect-ratio: 1;
    background-color: var(--white);
    opacity: 0.2;
    border-radius: 50%;
    transition: opacity 0.5s ease; /* Smooth transition */
}
.explore::after {
    content: "";
    position: absolute;
    width: 272px;
    border: 184px var(--white) solid;
    aspect-ratio: 1;
    background-color: var(--white);
    opacity: 0;
    border-radius: 50%;
    transition: opacity 0.5s ease; /* Smooth transition */
}

.black{
    color: black
}
.content-box{
    display: flex;
    align-items: center;
}
.dest-image{
    width: 480px;
    height: 480px;
    margin: 0 calc(100% - 480px);
    object-fit: cover;
}
.dest-list{
    display: flex;
    gap: var(--sp-400);
}
.dest-list li{
    list-style: none;
    height: 32px;
    border-bottom: 3px solid transparent; 
    transition: border-color 0.5s ease;
    cursor: pointer;
}
.dest-list li:hover{
    border-bottom: 3px solid var(--white);
}
.dest-list .active{
    border-bottom: 3px solid var(--white);
}
.dest-info{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.dest-info.fade-out{
    opacity: 0;
}
.dest-info.fade-in{
    opacity: 1;
}
.crew-list{
    display: flex;
    gap: var(--sp-500);
}
.crew-list-item{
    list-style: none;
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
}
.crew-list-item.active{
    background-color: var(--white);
}
.crew-list-item:hover{
    background-color: var(--white);
}
.crew-image{
    width: 100%;
    max-height: 676px;
    object-fit: contain;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0));
}
.crew-role{
    color: rgba(255, 255, 255, 0.5);
}
.technology-image-container{
    width: 100%;
    max-width: 608px;
    display: flex;
    align-items: center;
}
.technology-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.technology-list-item{
    list-style: none;
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.technology-list-item.active{
    border: 1px solid var(--white);
    background-color: var(--white);
}
.technology-list-item.active .text-preset-4{
    color: var(--blue-900);
}
@media screen and (max-width: 1024px) {
    .bg{
        min-height: 100vh;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    .home-screen{
        background-image: url(../public/assets/home/background-home-tablet.jpg);
    }
    .destination-screen{
        background-image: url(../public/assets/destination/background-destination-tablet.jpg);
    }
    .crew-screen{
        background-image: url(../public/assets/crew/background-crew-tablet.jpg);
    }
    .technology-screen{
        background-image: url(../public/assets/technology/background-technology-tablet.jpg);
    }
    .header{
        margin-top: 0;
    }
    .logo-container{
        position: relative;
        z-index: 0;
        width: auto;
    }
    .logo{
        margin-left: 40px;
        padding-right: 40px;
    }
    .nav{
        width: 100%;
        padding: 0 var(--sp-500);
    }
    .nav-list{
        gap: 12px;
        justify-content: space-around;
        
    }
    .nav-list li{
        font-family: var(--font-barlow-condensed);
    font-weight: 300;
    font-size: 1rem;
    color: var(--white);
    letter-spacing: 2px;
    }
    .dest-list{
        gap: var(--sp-300);
    }
    .crew-list{
        gap: var(--sp-300);
    }
    .home-page{
        flex-direction: column;
        align-items: center;
        padding: var(--sp-1600) var(--sp-500);
        gap: var(--sp-600);
        box-sizing: border-box;
    }
    
    .slogan{
        width: 100%;
        max-width: 512px;
        text-align: center;
    }
    .slogan .text-preset-1{
        margin-bottom: 0;
    }
    .explore-container{
        justify-content: center;
    }
    .dest-list{
        justify-content: center;
    }
    .dest-info{
        width: 100%;
        max-width: 512px;
        margin-left: auto;
        margin-right: auto;
    }

    .dest-image{
        width: 300px;
        height: 300px;
        margin: 0 calc((100% - 300px)/2);
    }
    .crew-image{
        mask-image: none;
    }
    .technology-image-container{
        max-width: 100vw;
        position: relative;
        height: 357px;
    }
    .technology-image{
        min-width: 100vw;
        height: 100%;
        position: absolute;
        left: -1.5rem;
        object-fit: cover;
        object-position: center;
    }
    .technology-list{
        flex-direction: row;
        justify-content: center;
        gap: var(--sp-200);
    }
    
    

}
@media screen and (max-width: 672px) {
    .home-screen{
        background-image: url(../public/assets/home/background-home-mobile.jpg);
    }
    .destination-screen{
        background-image: url(../public/assets/destination/background-destination-mobile.jpg);
    }
    .crew-screen{
        background-image: url(../public/assets/crew/background-crew-mobile.jpg);
    }
    .technology-screen{
        background-image: url(../public/assets/technology/background-technology-mobile.jpg);
    }
    .header{
        position: relative;
        width: 100%;
        align-items: stretch;
    }
    .header .logo-container {
        padding: var(--sp-200) 0;
    }
    .nav{
        margin: 0;
        padding: 0;
        background: none;
        width: 50%;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: fixed;
        right: 0;
    }
    .hamburger{
        padding-right: var(--sp-300);
        z-index: 20;
        margin-top: var(--sp-300);
    }
    .logo-container{
        width: 50%;
        align-items: baseline;
    }
    .logo{
        width: 40px;
        height: 40px;
        box-sizing: content-box;
        margin-left: var(--sp-300);
        margin: 0;
        padding-left: var(--sp-300);
        padding-right: 0;
    }
    .nav{
        background-color: none;
        backdrop-filter: none;
    }
    .nav-list{
        display: none;
        flex-direction: column;
        z-index: 2000;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(100);
        padding-right: 1rem;
        padding-top: var(--sp-300);
        padding-left: var(--sp-400);
        box-sizing: border-box;
        top: -24px;
        justify-content: normal;
        gap: var(--sp-400);

    }
    .nav-list li{
        padding: 0;
        border-bottom: 0;
        border-right: 3px solid transparent;
    }
    .nav-list li.active{
        border-bottom: none;
        border-right: 3px solid var(--white);
    }
    .nav-list li:hover{
        border-bottom: none;
        border-right: 3px solid rgba(255, 255, 255, 0.5);
    }
    .nav-list li.active:hover{
        border-right: 3px solid var(--white);
        border-bottom: none;
    }
    .explore-container{
        z-index: 0;
    }
    .dest-image{
        width: 150px;
        height: 150px;
        margin: 0 calc((100% - 150px)/2);
    }
    .text-preset-1{
        font-size: 80px;
    }
    .text-preset-2{
        font-size: 56px;
        margin-bottom: 0;
    }
    .text-preset-3{
        font-size: 1.5rem;
    }
    .text-preset-4{
        font-size: 18px;
    }
    .text-preset-5{
        font-size: 1.25rem;
        text-align: center;
    }
    .text-preset-9{
        font-size: 15px;
    }

}